/* Google Font: 'Noto Sans Mono' */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
  font-family: 'Noto Sans Mono', monospace;
}

#main-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 16.667% 16.667% 16.667% 16.667% 16.667% 16.667%;
  width: 350px;
  height: 525px;
  margin: auto;
}

#display-panel {
  grid-column-start: 1;
  grid-column-end: 5;

  /*display text at bottom right of panel*/
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

input[value="0"] {
  grid-column-start: 1;
  grid-column-end: 3;
}