* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
}

#main-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 600px;
  height: 750px;
  margin: auto;
}

#display-panel {
  grid-column-start: 1;
  grid-column-end: 5;
}

input[value="0"] {
  grid-column-start: 1;
  grid-column-end: 3;
}